{% extends "flights/base.html" %}

{% block title %}
	Flight {{ flight.id }}
{% endblock %}

{% block content %}
	<h1>Flight {{ flight.id }}</h1>
	<ul>
		<li>Origin : {{ flight.origin }}</li>
		<li>Destination : {{ flight.destination }}</li>
	</ul>
	<h2>Passengers</h2>
	<ul>
		{% for passenger in passengers %}
			<li>{{ passenger }}</li>
		{% empty %}
			<li>No passengers</li>
		{% endfor %}
	</ul>
	<hr>
	<h2>Add Passenger</h2>
	{% if non_passengers %}
		<form action="{% url 'book' flight.id %}" method="post">
			{% csrf_token %}  <!-- Used to prevent CSRF attacks -->
			<select name="passenger">
				{% for non_passenger in non_passengers %}
				<option value="{{ non_passenger.id }}">{{ non_passenger }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Book Flight">
		</form>
	{% else %}
		<div>
			No passenger to add
		</div>
	{% endif %}
	<a href="{% url 'index' %}">Back to full list</a>
{% endblock %}
